body
{
background-color: #9c9f84;
} 
.box
{
background-color: #5c755e;
height:300px;
width:250px;
border-radius:10px;
position:relative;
top:80px;
left:40%;
} 
.display
{
background-color: #222;
width:210px;
position:relative;
left:15px;
top:20px;
height:40px;
}
.display input
{
position:relative;
left:2px;
top:2px;
height:35px;
color:black;
background-color:#bccd95;
font-size:21px;
text-align:right;
}
.keys
{
position:relative;
top:20px;
}
.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left: 17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.gray
{
color:white;
background-color:#6f6f6f;
border-bottom: 2px black solid;
border-top: #6f6f6f 2px solid;
}
.button.pink
{
color:black;
background-color:#ff4561;
border-bottom: 2px black solid;
}
.button.black
{
color:white;
background-color:303030;
border-bottom: 2px black solid;
border-top: 303030 2px solid;
}
.button.orange
{
color:black;
background-color: #FF9933;
border-bottom: 2px black solid;
border-top: #FF9933 2px solid;
}
.gray:active
{
border-top: 2px black solid;
border-bottom: #6f6f6f 2px solid;
}
.pink:active
{
border-top: 2px black solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top: 2px black solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top: 2px black solid;
border-bottom: #FF9933 2px solid;
}

{
line-height:10px;
}