<!DOCTYPE html>
<html ng-app="GuessTheNumber">
<head>
	<title>Guess the Number</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>	
	<script src="app.js"></script>
</head>
<body>
	<div class="container" ng-controller="GuessTheNumberCtrl">
		<h2>Guess the Number!</h2>
		<p class="well lead">Guess the computer generated random number between 1 and 1000.</p>
		<label>Your Guess:</label> 
		<input type="number" ng-model="guess" />
		<button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
		<button ng-click="initializeGame()" class="btn btn-warning btn-sm">Retry</button>
		<p>
			<p ng-show="deviation<0" class="alert alert-warning">Your guess is higher.</p>
			<p ng-show="deviation>0" class="alert alert-warning">Your guess is lower.</p>
			<p ng-show="deviation===0" class="alert alert-success">Yes! That's it.</p>
		</p>
		<p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span><p>
	</div>
</body>
</html>
