
#header{
	background-image: url(img/ban.jpg);
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	background-position: top;
	white-space: pre-wrap;
}
h3{
	font-family: tolkien;
	font-size: 38px;
}

body{
	background-image: url(img/body.jpg);
	background-attachment: scroll;
}

#menu{
	color: white;
	font-family: arial;
	font-size: 16px;
}

.button{
	background-color: royalblue;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#in{
	font-family: rockwell;
	font-size: 30px;
	color: palegreen;
}

#events{
	font-family: sans-serif;
	position: center;
	margin-left: 170px;
	margin-right: 170px;
}

table{
	background-color: grey;
	border: 5px black;
	margin: 10px;
	padding: 5px;
}

thead{
	background-color: black;
}

#cal{
	color: blue;
	text-decoration: none;
	font-family: comic sans ms;
}

.odd{
	background-color: lightpink;
}

footer{
	font-family: sans-serif;
	color: lightblue;
	font-size: 10px;
}