#calculator{
	width: 300px;
	background-color: grey;
	position: right;
	height: 400px;
	border-radius: 20px;
	margin:0 auto;
	margin-top: 100px;
	border-bottom: 1px solid;
	padding: 20px;
	border-left: 35px;
	box-shadow: 8px 8px black;


}
#result{
	overflow: hidden;
	background-color: white;
	height: 120px;
	width: 290px;
	left: -1000;
	margin-top: 10px;
	border-radius: 10px;


}

	
.button{
	cursor: pointer;
	width: 45px;
	border: 1px solid #333;
	background-color: white;	
	padding : 10px;
	margin left:  10px;
	height: 30px;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
	font-size: 20px;
	padding-right: 10px;
	
}
.button:hover{
	background-color:blue;
}
.sign{
	width: 35px;
	border: 1px solid #333;
	background-color: pink;	
	padding : 10px;
	margin left: 10px;
	height: 30px;
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 20px;
}
.sign:hover{
	background-color: pink;
}
#answer{
	width: 500px;
	color: red;
	padding: 30px;
	font-size: 60px;
	overflow: hidden;
	text-align: left;
	padding-right: 0px;
	

}

body{
	background-color: white; 
}
