ul#menu {
    padding: 10px;

   }

  ul#menu li {
    display: inline;


  }

  ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px 2px 0 0;
  }

  ul#menu li a:hover {
    background-color: orange;
  }

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0;
  z-index: 9999;
  border:0;
  line-height: 1.42857143 !important;
  border-radius: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px !important;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  
  }
   }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      width: 955px;
      height: 600px;
      font-size: 15px;
      padding: 20px;
      margin: 10px;

  
  }
  #section1 {color: #fff; background-color: #1E88E5;}
  #section2 {color: #fff; background-color: #673ab7;}
  #section3 {color: #fff; background-color: #ff9800;}
  #section4 {color: #fff; background-color: #1E88E5;}
  #section5 {color: #fff; background-color: #673ab7;}
  #section6 {color: #fff; background-color: #ff9800;}
  #section7 {color: #fff; background-color: #ff9800;}
  #section8 {color: #fff; background-color: #1E88E5;}
  #section9 {color: #fff; background-color: #673ab7;}
  #section10 {color: #fff; background-color: #ff9800;}
  #section11 {color: #fff; background-color: #ff9800;}
 
  @media screen and (max-width: 810px) {
    #section1,#section2,#section3,#section4,#section5,
    #section6,#section7,#section8,#section9,#section10,
    #section11,{
      margin-left: auto;
    }
  }
  .myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 100px;
height: 100px;
overflow: scroll;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: yellowgreen;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #88ba1c;  
}
p{
  text-align: center;

}
footer {
  background-color: black;
  color: white;
  clear: both;
  text-align: center;
  padding: 30px;
}
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
    background-color:solid black;

}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
abbr{
  cursor: pointer;

}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}
footer#visayas{
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px;
    margin: 28px;
}
ul#menu {
    padding: 0;
   }

  ul#menu li {
    display: inline;

  }

  ul#menu li a {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
    border-radius: 4px 4px 0 0;
  }

  ul#menu li a:hover {
    background-color: orange;
  }
ul#menu3 {
    padding: 0;
   }

  ul#menu3 li {
    display: inline;

  }

  ul#menu3 li a {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: right;
    border-radius: 4px 4px 0 0;
  }

  ul#menu3 li a:hover {
    background-color: orange;
  }

