body{
      background-position : fixed;
      background-repeat: no-repeat;
      background-size: 150%;

    }
#calculator
{
	opacity:0.9;
	background-color: #000000;
	height: 540px;
	width: 280px;
	padding: 10px;
	margin: 100px;
    border-style: outset;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: 100px;
	margin-left: auto;
    }

#result
{ 
	background-color:#cccccc;
    border-style:auto;
	color: black;
	text-align: right;
    font-family:none;
    font-size: 30px;
	height: 70px;
	width: 280px;
	overflow: hidden;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li div {
    background-color: #007070;
    color:white;
    padding: 5px 5px;
    border-radius:outset;
    float: left;
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
    
}

ul#menu li div:hover {
    background-color: orange;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes example{

    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}

div.ads {
	padding: auto;
	width: 50px;
	height: 30px;
	text-align: center;
	float: auto;

}
p{
    color: white;
}
a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
   background-color: orange;
   cursor: pointer;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
   }
