.artistnav{
	background: #FE683a;
}

.artistselection{
	position: absolute;
}
.wallpaper{
	position: fixed;
	margin-left: -2px;
}


.first{
	margin: 75px 0 0 275px;
}
	.picassopicture{
		position: absolute;
		border: 2px solid #ffffff;
	}
	.picassobutton1{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;

	}
	.picassobutton2{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;
	}
	.picassobutton2:hover{
		opacity: 0;
	}

	.rembrandtpicture{
		position: absolute;
		margin-left: 500px;
		border: 2px solid #ffffff;
	}
	.rembrandtbutton1{
		position: absolute;
		margin-top: 420px;
		margin-left: 545px;
	}
	.rembrandtbutton2{
		position: absolute;
		margin-left: 545px;
		margin-top: 420px;
	}
	.rembrandtbutton2:hover{
		opacity: 0;
	}


.second{
	margin: 620px 0 0 275px;
}
	.vangoghpicture{
		position: absolute;
		border: 2px solid #ffffff;
	}
	.vangoghbutton1{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;

	}
	.vangoghbutton2{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;
	}
	.vangoghbutton2:hover{
		opacity: 0;
	}

	.andypicture{
		position: absolute;
		margin-left: 500px;
		border: 2px solid #ffffff;
	}
	.andybutton1{
		position: absolute;
		margin-top: 420px;
		margin-left: 545px;
	}
	.andybutton2{
		position: absolute;
		margin-left: 545px;
		margin-top: 420px;
	}
	.andybutton2:hover{
		opacity: 0;
	}


.third{
	margin: 1165px 0 0 275px;
}
	.davincipicture{
		position: absolute;
		border: 2px solid #ffffff;
	}
	.davincibutton1{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;

	}
	.davincibutton2{
		position: absolute;
		margin-left: 45px;
		margin-top: 420px;
	}
	.davincibutton2:hover{
		opacity: 0;
	}

	.monetpicture{
		position: absolute;
		margin-left: 500px;
		border: 2px solid #ffffff;
	}
	.monetbutton1{
		position: absolute;
		margin-top: 420px;
		margin-left: 545px;
	}
	.monetbutton2{
		position: absolute;
		margin-left: 545px;
		margin-top: 420px;
	}
	.monetbutton2:hover{
		opacity: 0;
	}





/*<footer>*/
.media{
	position: absolute;
	margin-top: 2223px;
	margin-left: 327px;
}
.no1{
	position: absolute;
}
.no1:hover{
	opacity: 0;
}
.hover1{
	position: absolute;
}
.no2{
	position: absolute;
	margin-left: 70px;
}
.no2:hover{
	opacity: 0;
}
.hover2{
	position: absolute;
	margin-left: 70px;
}
.no3{
	position: absolute;
	margin-left: 140px;
}
.no3:hover{
	opacity: 0;
}
.hover3{
	position: absolute;
	margin-left: 140px;
}
.no4{
	position: absolute;
	margin-left: 210px;
}
.no4:hover{
	opacity: 0;
}
.hover4{
	position: absolute;
	margin-left: 210px;
}
.no5{
	position: absolute;
	margin-left: 280px;
}
.no5:hover{
	opacity: 0;
}
.hover5{
	position: absolute;
	margin-left: 280px;
}
.media2{
	position: absolute;
	margin-top: 2223px;
	margin-left: 673px;
}
.no6{
	position: absolute;
}
.no6:hover{
	opacity: 0;
}
.hover6{
	position: absolute;
}
.no7{
	position: absolute;
	margin-left: 70px;
}
.no7:hover{
	opacity: 0;
}
.hover7{
	position: absolute;
	margin-left: 70px;
}
.no8{
	position: absolute;
	margin-left: 140px;
}
.no8:hover{
	opacity: 0;
}
.hover8{
	position: absolute;
	margin-left: 140px;
}
.no9{
	position: absolute;
	margin-left: 210px;
}
.no9:hover{
	opacity: 0;
}
.hover9{
	position: absolute;
	margin-left: 210px;
}
.no10{
	position: absolute;
	margin-left: 280px;
}
.no10:hover{
	opacity: 0;
}
.hover10{
	position: absolute;
	margin-left: 280px;
}
.contact1{
	position: absolute;
	margin: 1823px 0 0 150px;
	max-width: 40%;
	text-align: right;
	font-size: 125%;
	color: #000000;
	z-index: 	1000;
}
.contact2{
	position: absolute;
	margin: 1838px 0 0 670px;
	max-width: 37%;
	text-align: left;
	font-size: 125%;
	color: #000000;
	z-index: 	1000;
}
.image7{
	position: absolute;
	margin: 1750px 0 0 0;
}
footer{
	background: #000000;
	color: #ffffff;
	position: absolute;
	margin: 2278px 0 0 0;
	font-size: 75%;
	text-align: center;
	width: 100%;
	font-family: calibri;
	z-index: 	1000;
}
/*</footer>*/