body {

    width: 100%;
    height: 100%;
    font-family:Arial,sans-serif;
  
}

.front img {
	opacity: 0.8;
	filter: alpha (opacity=80);
}

.front a {
    color:#cd5c5c;    
   	font-size: 2em;
   	font-family: cooper black;
   	position: absolute;
   	top: 300px;
    left: 1000px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background:   #7cfc00;
    padding: 7px 12px;
   
}

.front a:hover,
.front a:focus {
    color: forestgreen;
    position: absolute;
    top: 300px;
    left: 1000px;

}


.front h1 {
	font-family: high tower text;
	font-size: 70px;
	color: #abcdef;
	position: absolute;
	top: 150px;
    left: 900px;

}

.front q {
    font-size: 16px;
    line-height: 1;
    text-indent: 2em;
    font-weight: bold;
    font-family: helvetica;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    left: 700px;
    text-shadow: 1px 1px;

}

.front {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}


.otherInfo {
	padding-left: 2%;
	background-color: #c1cdc1;
	line-height: 3em;
	padding-right: 2%;
	border-radius: 5px;
	width: 94%;
	height: 40px;
	margin-right: 2%;
}

