.mainFooter1 {
    width: 98%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: yellowgreen;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    
}

.footer1 {
    margin-left: 2%;
    text-align: center;
    letter-spacing: 3px;
}

