.a{
		font-family: Franklin Gothic Heavy;
	font-size: 120px;
	text-align: center;
	margin-top: -15px;
	font-style: bold;
	color: white;
}
div.contain{
	position: absolute;
	margin-left: 50px;
	width: 400px;
	height: 200px;

	

}
input[type="txt"],
input[type="password"],
input[type="email"]
{
	height: 30px;
	width: 450px;
}
div.contain1{
		box-shadow: 0 2px 4px;
		margin-left: 225px;
		width: 550px;
		height: 500px;
		background-color: lightgray;
		position: absolute;
		margin-top: 100px;

	}
		

.tell{

	margin-left: 90px;
	font-size: 30px;
	color: black;
	font-family:cambria;
}


.tow{
		 font-size: 70px;
 
	color: blue;

	margin-top: -150px;
}
.home{
	height:40px;
	width: 200px;
	color: black;
	background-color: lightblue;
	margin-top: 100px;
	font-size: 20px;
}

.submit{
	color:white;
	background-color:blue;
	width:100px;
	height: 30px;

}
.reset{
	color:white;
	background-color:red;
	width:100px;
	height: 30px;
}
div.head{
	background-color: red;
	width: 100%;
	height: 50px;
	position: absolute;
	margin-top: 5px;
}
.official{
	color: white;
	font-size: verdana;
	font-size: 20px;
	margin-left: 90px;
	font-style: bold;

}
.po{
	margin-left: 600px;
	position: absolute;
	margin-top:-42px;
	background-color: yellow;
}
.po1{
position: absolute;
	margin-top:-42px;
	margin-left: 675px;
	background-color: yellow;
}
.po2{
position: absolute;
	margin-top:-42px;
	margin-left: 750px;
	background-color: yellow;
}
.po3{
	position: absolute;
	margin-top:-42px;
	margin-left: 825px;
	background-color: yellow;
}
.po4{
	position: absolute;
	margin-top:-42px;
	margin-left: 900px;
	background-color: yellow;
}
.headImg{
	position: absolute;
	width: 70px;
	height: 40px;
	margin-top: -60px;
	margin-left: 10px;
}
.create{
	font-family: Verdana ;
	color: white;
	
	position: absolute;
	font-size: 50px;
	margin-left: 290px;


}
input[type="reset"]{
	margin-left: -300px;
}