body {
	background-image: url("bg/tablebg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#box {
	box-shadow: 11px 20px 15px black;
	background-color: #f7f4f7;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 120px;
	left: 40%;
}


#display, #show {
	background-color: #222;
	width: 220px;
	height: 40px;
	position: relative;
	left: 15px;
	top: 20px;
}

#show {
	width: 215px;
}

#display input {
	position: relative;
	left: 2px;
	top: 2px;
	height: 35px;
	color: black;
	background-color: #bccd95;
	font-size: 20px;
	text-align: right;
}

#buttonholder {
	position: relative;
	top: 28px;
	padding-left: 18px;
}

.button {
	margin-bottom: 3px;
	width: 45px;
	height: 35px;
	border: none;
	border-radius: 47%;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	line-height: 10px;
	box-shadow: inset 0 20px 20px 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
}

.button.pink {
	color: black;
	background-color: #ff4561;
	border-bottom: black 2px solid;
}

.button.orange {
	color: black;
	background-color: #FF9933;
	border-bottom: black 2px solid;
	border-top: 2px #303030 solid;
}

.button.black {
	color: white;
	background-color: #303030;
	border-bottom:black 2px solid;
}

.button:hover {
	background-color: #fe1e1e;
	color: #fff;
}

.gray:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}

.pink:active {
	border-top: black 2px solid;
	border-bottom: #ff4561 2px solid;
}

.black:active {
	border-top: black 2px solid;
	border-bottom: #303030 2px solid;
}

.orange:active {
	border-top: black 2px solid;
	border-bottom: #FF9933 2px solid;	
}