body {

	background-image: url("bg.png"); background-repeat: no-repeat; background-size: 100%;
}


#calculator {
	width: 325px;
	height: auto;
	margin: 100px auto;
	padding-top: 100px;
	border-radius: 3px;
	
}


.top button.clear {
	margin-left: 6px; 
	float: right;
}

.top .result {
	float: left;
	height: 40px;
	width: 219px;
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.6);
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
	letter-spacing: 1px;
	padding-left: 
}

.keys, .top {overflow: hidden;}


.keys button, .top button.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	height: 36px;
	background: white;
	border-radius: 3px;
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;
	user-select: none;
	transition: all 0.2s ease;
}

.keys button.operator {
	background: #FFF0F5;
	margin-right: 0;
}


.top button.clear {
	background: #FFF0F5;
	color: black;
}

.keys button:hover {
	background: #9c89f6;
	color: white;
}

.keys button.eval:hover {
	background: #9c89f6;
	color: #ffffff;
}

.top button.clear:hover {
	background: #9c89f6;
	color: white;
}

.keys button:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys button.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top button.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
