body{
	background-color: #965c7e;
}
.background{
	background-color: #ae0807; 
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 549px;
}

.keys{
	position: relative;
	top: 15px;
	border-radius: 10px;
}
.num{
	width: 40px;
	height: 30px;
	border-radius: 
	border:none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	background-color: #1e528a;

}

.sign{
	width: 40px;
	height: 30px;
	border-radius: 
	border:none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	background-color: #f3ba47;


}

.clear{
	width: 40px;
	height: 30px;
	border-radius: 
	border:none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	background-color:#e2510f;
}
.dp{
	background-color: #a7c1c9;
	width: 220px;
	left: 15px;
	height: 40px;
	margin-top: 10px;
	position: relative;
}
