#calculator{
	background-color: black;
	width: 35em;
	height: 35em;
	margin-left:50px;
	border-radius:50px;
	float: left;

}

#monitor{
	width:27em; 
	height:6em; 
	background-color:#FFD700;
	margin-left:60px;
	margin-top: 50px;
	float left;
}

.button{
	width:4em;
	height:4em;
	background-color: #F5F5F5;
	margin:1em;
	float:left;
	text-align: center;
}

#column{
	width: 18em;
	heigth:
	margin-top
	;

}
