body{
	background: white;
}
#main{
	margin-top: 62px;
	
}
#scors{
	border: 1px white solid;
	margin-top: 10px;
	width: 300px;
	height: 70px;
	background: white;
	color: black;
	font-style: Colonna MT;
	font-weight: bold;
	font-size: 24pt;

}
#buttons{
	border: 1px solid white;
}
#lcd{
	border: 2px black solid;
	color: white;
	margin-bottom: 8px;
	overflow: hidden;
	width: 360px;
	height: 120px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	background: black;
	padding-top: 10px;
	font-size: 15pt;	
}
#score{
	padding-top: 15px;
	float: right;
	padding-right: 10px;
}
#buttons{
	border: 2px black solid;
	width: 340px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 10px;
	background: black;
}
.normal{
	border: 2px black solid;
	border-radius: 10px;
	height: 50px;
	width: 80px;
	font-family: Britannic Bold;
	font-size: 30pt;
	font-weight: bold;
	background: white;
}
#first{
	margin-top: 15px;
}
#second{
	margin-top: 15px;
}
#third{
	margin-top: 15px;
}
#fourth{
	margin-top: 15px;
	margin-bottom: 15px;
}