body{
	margin:0;
	padding: 0;
	clear: both;
}
.header {
	height: 100px;
	background-color: #66cccc;
	margin: 0 auto 3% auto;
}

.footer {
	height: 100px;
	background-color: #66cccc;
	margin: 0 auto 3% auto;
	margin-bottom: 0;
	margin-top: -30px;
}

.footer1 {
	height: auto;
	background-color: #66cccc;
	margin: 0 auto 3% auto;
	margin-bottom: -20;
	margin-top: -20px;
}

.sub-footer {
	background-color: #31b595;
	height: 50px;
	width: auto;
	margin-top: 30px;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	*zoom:1;
}

.span1 {
	width: 400px;
	position: relative;
/*	padding-top: .5;
	padding-bottom: .5;*/
}

p.font1 {
	font-size: 40px;
	font-weight: bold;
	float: right;
	position: relative;
	color: white;
}

.logo {
	width: 110px;
	height: 80px;
	float: left;
	position: relative;
	margin-top: 20px;
}

span.lover {
         color: gray;
	text-shadow: 0 2px 2px rgba(0,0,0,0.8);
}

.navigation {
	background-color: #31b595;
	height: 50px;
	margin-top: -41px;
	position: relative;
}

ul.nav-dog >li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	border-right: 2px solid gray;

}

ul.nav-dog > li:last-child {
	border-right: none;
}

ul.nav-dog > li > a {
	margin-right: 20px;
}

ul > li > a {
	font-family: arial;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	font-size: 18px;
}

.span2 {
	width:750px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

a {
	color: white;
}

a:hover {
	color:gray;
}

a:active {
	color: red;
}

.home-dog {
	width:900px;
	margin-right: auto;
	margin-left: auto;
}

.home-dog1 {
	width:900px;
	height: 400px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.8);
}

.font2 {
	font-family: arial;
	font-size: 20px;
}


.pictDog:first-child {
	margin-left: 5px;
}

.pictDog {
	width: 250px;
	height: 200px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.8);
	margin-right: 45px;
}

.font3 {
	color: yellowgreen;
}

a.active {
	border-bottom: 3px solid black;
}

.span3 {
	width: 285px;
	margin-left: auto;
	margin-right: auto;
	*zoom:1;
}

.font4 {
	font-size: 16px;
	padding-top: 50px;
}

.dogBreed1 {
	margin-top: 30px;
}

.breed-link {
	color: yellowgreen;
	text-align: center;
}

ul.ul-breed > li.li-breed {
	display: inline-block;
}

li.li-breed {
	width: 310px;
	text-align: center;
	margin-right: 20px;
	margin-left: 0px;
	font-family: arial;
}

li.li-breed:first-child, li.li-breed:last-child {
	width: 190px;
}

.span5 {
	width: 400px;
	padding: 10px;
	float: left;
}

.span6 {
	width: 1200px;
	text-indent: 4;
	text-align: justify;
}

.span7 {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	*zoom:1;
}

div.dog-video {
	margin-top: 20px;
	margin-bottom: 20px;
}

.font5 {
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
}

textarea {
	position: relative;
	margin: 5px;
	max-width: 630px;
	min-width: 630px;
	max-height: 100px;
	min-height: 100px;
	border-radius: 5px;
}

button.btn1 {
	position: relative;
	float: right;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	background-color: green;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5;
}

.span8 {
	width: 650px;
}

.span9 {
	width: 500px;
	float: right;
}

.logo-about {
	width:300px;
	height: 200px;
	margin-left: 300px;
	margin-bottom: -30px;
}

.box1 {
	border: 1px solid gray;
	border-radius: 5px;
	width: 500px;
	height: auto;
}

.font6 {
	padding:10;
}

.disc-link {
	color: white;
}
