.calculator {
	margin-top: 150px;
	width: 449px;
	height: 430px;
	background-color: black;
	border-radius: 8px;
	box-shadow: 0 10px white;
	margin-left: auto;
	margin-right:auto;
}

#display {
	border:3px solid red;
	color: white;
	margin-left: 20px;
	float: left;
	margin-top:25px;
	width: 280px;
	height: 60px;
	background-color: white;
	box-shadow: inset 0px 4px black;
	border-radius: 4px;
	font-size: 40px;
	text-align: right;
}

.keys {
	width: 80px;
	height: 40px;
	background-color: black ;
	text-align: center;
	font-size: 30pt;
	font-family: Berlin Sans FB Demi;
	margin-top: 21px;
	display: inline-block;
	margin-left: 22px;
	border-radius:5px;
	box-shadow:0 3px white;
	color: red;
}

.keys:hover {
	background-color: rgb(85,85,85);
}


.clear {
	width: 100px;
	height: 48px;
	background-color: black;
	text-align: center;
	font-size: 30pt;
	font-family: Berlin Sans FB Demi;
	margin-top: 33px;
	display: inline-block;
	margin-left:16px;
	border-radius:5px;
	box-shadow:0 3px white;
	color: red;
}

.clear:hover {
	background-color: rgb(85,85,85);
}

.signs {
	width: 80px;
	height: 45px;
	font-family: Berlin Sans FB Demi;
	text-align:center;
	font-size: 29pt;
	background-color: red;
	margin-top: 18px;
	margin-left: 23px;
	border-radius: 5px;
	display: inline-table;
	color: black;
}

.signs:hover {
	background-color: rgb(85,85,85);
}

.equals {
	width: 400px;
	height: 55px;
	font-family: Berlin Sans FB Demi;
	text-align:center;
	font-size:30pt;
	background-color:red;
	margin-top: 10px;
	margin-left: 20px;
	border-radius:8px;
	margin-top: 20px;
	color: black;
}

.equals:hover {
	background-color: rgb(85,85,85);
}

.numbers{
	width: 70%; 
	float: left;
} 
.operators{
	width: 30%;
	float: left;
}
