body {
	margin: 5px;
}
.header img{
	width: 1350px;
	height: 350px;
}
#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 13%;
	background-color: #f1f1f1;
	position: relative;
	height: 25%;
	overflow: auto;
}
#navbar li a{
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}
#navbar li a.active{
	background-color: #4CAF50;
	color: white;
}
#navbar li a:hover:not(.active){
	background-color: #555;
	color: white;
}
#navbar li a .drp{
	display: inline; 
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#navbar li a:hover, .drpd:hover .drp{
	background-color: red;
}
#navbar li .drpd{
	display: inline-block;
} 
#navbar .drpc{
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.2);
}
#navabar .drpc a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline;
	text-align: left;
}
#navbar .drpc a:hover{
	background-color: #f1f1f1;
}
#navbar .drpd:hover .drpc{
	display: block;
}
.foot p{
	text-align: center;
	color: white;
	font-family: calibri;
	border-radius: 2px;
}
.foot{
	display: block;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: 3em;
}
.img a img{
	width: 50%;
	height: 25%;
	position: relative;
	margin-top: 1em;
	margin-left: 21em;
	margin-bottom: 1em;
}
h1{
	position: absolute;
	top: 350px;
	left: 200px;
	color: white;
	font-size: 60px;
}
.title p{
	font-size: 60px;
	color: white;
	position: relative;
	left: 350px;
	margin-top: -0.3em;
}
.par{
	color: white;
	font-size: 24px;
	font-family: calibri;
	text-align: center;
	margin-bottom: 0.2em;
}
.desc a{
	position: absolute;
	list-style-type: none;
	font-family: arial;
	color: white;
	text-decoration: none;
	margin-bottom: 3px;
	left: 350px				
}
form{
	margin-left: 22em;
}
.img img{
	border: 4px solid white;
}