body{
	background-color: rgb(12,34,20);
}
.body{
	margin-left: 30%;
	height: 400px;
	width: 350px;
	background-color:gray ;
	border-color: black;
	border:solid 3px;
	border-radius: 20px;
}

#result{ 
font-size: 40px;
text-align: right;
margin-top: 4%;
margin-left: 45px;
height: 60px;
width: 200px;
background-color: white;
border: solid 4px;
border-color: black;
border-radius: 10px;
}

.button{
	font-size: 40px;
	width: 70px;
	height: 50px;
	margin-left: 10px;	
	margin-top: 15px;
	background-color: green;
	border: solid 5px;
	text-align: center;
	border-radius: 10px; 
}
.button1{
	font-size: 40px;
	width: 70px;
	height: 50px;
	margin-left: 10px;	
	margin-top: 15px;
	background-color: yellow;
	border: solid 5px;
	text-align: center;
	border-radius: 10px; 
}
.button2{
	font-size: 40px;
	width: 70px;
	height: 50px;
	margin-left: 270px;	
	margin-top:-6%;
	position: absolute;
	background-color: green;
	border: solid 5px;
	text-align: center;
	border-radius: 10px; 
}
#clear:hover{
	background background-color: black;
	color:gray; 
}
