.box
    {
    background-color:#5D5D6F;
    height:300px;
    width:210px;
    border-radius:10px;
    position:relative;
    top:80px;
    left:40%;
    } 
    .display
    {
    background-color:#222;
    width:180px;
    position:relative;
    left:15px;
    top:20px;
    height:40px;
    }
    .display input
    {
    position:relative;
    width:176px;
    height:35px;
    color:black;
    background-color:#bccd95;
    font-size:21px;
    text-align:right;
    } 
    .keys
    {
    position:relative;
    top:15px;
    }
    .button
    {
    width:40px;
    height:30px;
    border:none;
    border-radius:8px;
    margin-left:7px;
    cursor:pointer;
    border-top:2px solid transparent;
    }
    .button.gray
    {
    color:white;
    background-color:black ;
    border-bottom:black 2px solid;
    border-top:2px #6f6f6f solid;
    }
    .button.pink
    {
    color:black;
    background-color:#ff4561;
    border-bottom:black 2px solid;
    }
    .button.black
    {
    color:white;
    background-color:black;
    border-bottom:black 2px solid;
    border-top:2px 303030 solid;
    }
    .button.orange
    {
    color:black;
    background-color:FF9933;
    border-bottom:black 2px solid;
    border-top:2px FF9933 solid;
    }
    .gray:active
    {
    border-top:black 2px solid;
    border-bottom:2px #6f6f6f solid;
    }
    .pink:active
    {
    border-top:black 2px solid;
    border-bottom:#ff4561 2px solid;
    }

    .black:active
    {
    border-top:black 2px solid;
    border-bottom:#303030 2px solid;
    }
    .orange:active
    {
    border-top:black 2px solid;
    border-bottom:FF9933 2px solid;
    }
    p
    {
    line-height:10px;
    }
   