#calculator {
  background-color: #8B4513;
  margin: 75px auto;
  font-family: Segoe UI;
  font-size: 40px;
  padding: 50px;
  height: 400px;
  border-radius: 80px;
  border-bottom: 3px solid gray;
  width: 400px;

}

div.buttons {
  background-color: #FFF5EE;
  border-radius: 10px;
  border-bottom: 5px solid gray;
  width:32px;
  float: left;
  padding: 10px 21px 10px 21px;
  margin-right: 7px;
  margin-top: -20px;
  margin-bottom: 26px;

}

#buttonsEqual {
  background-color: #F4A460;
  border-radius: 20px;
  border-bottom: 5px solid gray;
  width: 48px;
  float: right;
  padding: 10px 48px 10px 50px;
  margin-right: 5px;
  margin-top: -20px;
  text-align: left;
  
}

#buttonsClear{
  background-color: #DEB887;
  border-radius: 20px;
  border-bottom: 5px solid gray;
  width:32px;
  float: right;
  padding: 10px 20px 10px 20px;
  margin-right: 5px;
  margin-top: -20px;
  margin-bottom: 26px;
  text-align: left;
}

div.buttonsOperator {
  background-color: #DEB887;
  border-radius: 20px;
  border-bottom: 5px solid gray;
  width:32px;
  float: right;
  padding: 10px 20px 10px 20px;
  margin-right: 5px;
  margin-top: -20px;
  margin-bottom: 26px;
}


div.buttons:hover {
  background-color:gray;
  cursor: pointer;
  color:white;
}

#buttonsEqual:hover {
  background-color:gray;
  cursor: pointer;
  color:white;
}

#buttonsClear:hover{
  background-color:gray;
  cursor: pointer;
  color:white;
}

div.buttonsOperator:hover {
  background-color:gray;
  cursor: pointer;
  color:white;
}

#result > p {
  background-color: #DCDCDC;
  margin-top: 5px;
  margin-bottom: 40px;
  float: center;
  width: 400px;
  height: 40px;
  line-height: 38px;
}

#result {
  background-color: #DCDCDC;
  margin-top: 5px;
  margin-bottom: 40px;
  float: center;
  width: 400px;
  height: 40px;
  line-height: 38px;
}

body {
  background-image: url(shuttercock.jpg);
  background-size: 100%;
  text-align: center;
}