div.container{
 background-color:white;
	width: 900px;
	height: 2100px;
	margin-left: 230px;
}
.size{
	font-size: 56px;
	font-family: italic;
}
.rightnav{
	float: right;

}
.font{
	font-size: 30px;
	font-family: arial;
}