div.container{
	 background-color: white;
	width: 900px;
	height: 2700px;
	margin-left: 230px;
}
.font{
	color: black;
	font-family: italic;
}
.font0{
	color: blue;
	font-family: arial;
	font-size: 20px;
}
.font1{
	color: blue;
	font-family: arial;
	font-size: 20px;
}
.font2{
	color: blue;
	font-family: arial;
    font-size: 20px;
}
.font3{
	color: blue;
	font-family: arial;
    font-size: 20px;
}
.font4{
	color: blue;
	font-family: arial;
    font-size: 20px;
}
.font5{
	color: blue;
	font-family: arial;
	font-size: 20px;
}
.font5{
	color: blue;
	font-family: arial;
	font-size: 20px;
}
.font6{
	color: blue;
	font-family: arial;
	font-size: 20px;
}
.allign{
	margin-left: 12px;
}
.allign{
	margin-left: 40	px;
	font-family: italic;
	font-size: 20px;
}

.font1:hover{
	color: red;
}
.font2:hover{
	color: red;
}
.font3:hover{
	color: red;
}
.font4:hover{
	color: red;
}
.font:hover{
	color:yellow;
}
.font0:hover{
	color:red;
}
.allign:hover{
	color: yellow;
}
.font6:hover{
	color: red;
}

