div.container1{
	background-color:white;
	width: 900px;
	height: 1000px;
	margin-left: 230px;
}
div.container2{
	background-color:white;
	width: 900px;
	height: 900px;
	margin-left: 230px;
}
.font{
	font-family: arial;
	font-size: 45px;
}
div.container3{
	background-color:white;
	width: 900px;
	height: 1000px;
	margin-left: 230px;
}
div.container4{
	background-color:white;
	width: 900px;
	height: 900px;
	margin-left: 230px;
}
div.container4{
	background-color:white;
	width: 900px;
	height: 900px;
	margin-left: 230px;
}
div.container5{
	background-color:white;
	width: 900px;
	height: 900px;
	margin-left: 230px;
}
.font1{
	font-size: 30px;
	font-family: arial;
}
.font2{
	font-size: 30px;
	font-family: arial;
}
.font3{
	font-size: 30px;
	font-family: arial;
}
.font4{
	font-size: 30px;
	font-family: arial;
}
.font5{
	font-size: 30px;
	font-family: arial;
}
.font6{
	font-size: 30px;
	font-family: arial;
}
.font7{
	font-size: 30px;
	font-family: arial;
}
.font8{
	font-size: 30px;
	font-family: arial;
}
.font9{
	font-size: 30px;
	font-family: arial;
}