body {background: #FfE4E1; margin:0px;
     font-family: Segoe UI;
    }
    div#menubar1 {padding: 20px; borger:#999 1px dashed}
    div#menubar1 > a {
        font-family: Segoe script;
        font-size: 20px;
        padding: 12px 24px;
        color:white;
        margin-right: 10px;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 3px;
        margin-left: 100px;
        transition: background 0.5s linear 0s, color 0.5s linear 0s;
        -webkit- transition: background 0.5s linear 0s, color 0.5s linear 0s;
    }
    div#menubar1 > a:hover {
       
        color:#000000;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
#container {
    background-color: white;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
    
#header {
    position: fixed;
    color: white;
    text-align: right;
    left: 770px;
    top: 0px;
    z-index: 10000;
}

#sample {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

#sample2 {
    position: fixed;
    top: 0px;
    left: 540px;
    z-index: 1000;
}

#sample3 {
    position: fixed;
    top: 0px;
    left: 1000px;
    z-index: 1000;
}

#content{
    padding: 10px;
}

#sweet {
    position: fixed;
    background-color: #f08080;
    color: white;
    left: 150px;
    font-size: 35px;
    font-family: Segoe Script;
    top: 4px;
    z-index: 10000;
}

#img1{
    position: absolute;
    padding: 50px;
    padding-top: 180px;
    padding-left:47px;
    left: 260px;
    top: 20px;
    
}
#img2{
    position: absolute;
    padding: 50px;
    padding-top: 180px;
    padding-left:338px;
    left: 260px;
    top: 20px;
    
}
#img3{
    position: absolute;
    padding: 50px;
    padding-top: 180px;
    padding-left:627px;
    left: 260px;
    top: 20px;
    
}

#first {
    position: absolute;
    background-color: #FfE4E1;
    opacity: 0.6;
    padding: 50px;
    padding-top: 320px;
    padding-right: 220px;
    left: 260px;
    top: 160px;
}

#second {
    position: absolute;
    background-color: #FfE4E1;
    opacity: 0.6;
    padding: 50px;
    padding-top: 320px;
    padding-right: 220px;
    left: 550px;
    top: 160px;
}

#third {
    position: absolute;
    background-color: #FfE4E1;
    opacity: 0.6;
    padding: 50px;
    padding-top: 320px;
    padding-right: 220px;
    left: 840px;
    top: 160px;
}

#curve1 {
    position: absolute;
    top: 530px;
    left: 260px;
    opacity: 0.6;
}

#curve2 {
    position: absolute;
    top: 530px;
    left: 550px;
    opacity: 0.6;
}

#curve3 {
    position: absolute;
    top: 530px;
    left: 840px;
    opacity: 0.6;
}

#nav{
    width: 140px;
    float: left;
}

#nav .selected{
    font-weight: bold;
}

#nav ul{
    list-style-type: none;
}

#main{
    position: fixed;
}
#corner{

    font-family: Comic Sans MS;
    color: #000;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px;
    margin-left: 420px;
    margin-top: 150px;
    text-align: center;
    width: 35%;
    height:80%; 
}

#bghomepage {
    position: fixed;
    left: 0px;
    top: 0px;
}

#middleline {
    position: absolute;
    background-color: white;
    padding: 50px;
    padding-right: 1299px;
    padding-bottom: 700px;
    top: 670px
}
    
  #footer{
    clear: both;
    padding: 10px;
    background-color: #f08080;
    color: white;
    text-align: center;
    margin-top: 510px;
    padding-right: 390px;
    padding-left: 500px;
    font-family: segoe script;
    
}