

body
{
	width: 500px;
	background-image: url("math.jpg");
}
form 
{
	background-color: #bf7220;
	text-align: center;
    width: 450px;
    height: 140px;
    margin: 105px 550px;
    padding: 45px 10px 265px 10px;
    border-radius: 90px;
    border-bottom: 3px solid black;
}

#display 
{
	width: 90%;
	height: 35px;
	text-align: right;
	font-size: 1.5rem;
	border-radius: 25px;
	background-color: #f4c470;
}

.digit 
{
	font-size: 2rem;
	background-color: #ecf0f1;
	height: 55px;
	width: 110px;
	border-radius: 10px;
	display: inline-block;
	padding: 5px;
	margin-top: 18px;
	border-bottom: 2px solid grey;
    color: #2c3e50;
}

.oper 
{
	font-size: 2rem;
	height: 55px;
	width: 85px;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	border-bottom: 3px solid grey;
  	background-color: #a9a5a1;
  	color: #2c3e50;
  	margin: 8px;
}

#clearMem 
{
	font-size: 2rem;
	height: 55px;
	width: 110px;
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	border-bottom: 3px solid grey;
  	background-color: #e03d3d;
  	color: #2c3e50;
  	margin: 5px;
}

#equal 
{
	font-size: 2rem;
    height: 55px;
    width: 85px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    border-bottom: 3px solid grey;
    background-color: #a9a5a1;
    color: #2c3e50;
    margin: 8px;
}
