body{
	background-repeat: no-repeat;
	background-size: 1370px 675px;
}

#calculator{
	text-align: center;
	width: 250px;
	height: 295px;
	border: 1px solid black;
	background-color: dimgrey;
	box-shadow: 0px 0px 30px brown;
	margin: 150px auto;
	font-size: 20px;
	border-radius: 5px 5px 5px 5px;
}

#display{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	text-align: right;
	width: 228px;
	height: 25px;
	float: left;
	line-height: 40px;
}

#keys{
	font-weight: bold;
	background-color: darkred;
	border: 1px dotted black;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	color: white;
	height: 25px;
	width: 43px;
	float: left;
	margin: 15px 0px 0px 15px;
	cursor: pointer;
}
