.gr img{
	position:absolute;
	background-repeat:no-repeat;
	width:1345px;
	height: 2600px;
	left:0px;
	}
.c1 img{
	margin-left: -170px;
	margin-top: 100px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:200px;
}
.c1 button{
	position:absolute;
	margin-left:130px;
	margin-top:600px;
    background-color:#0C995A;

}
.c1 p{
	background-color:#AEB8BE;
	margin-left: -20px;
   	margin-top: 600px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}
.c2 img{
	margin-left: 460px;
	margin-top: 100px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:200px;
}
.c2 button{
	position:absolute;
	margin-left:770px;
	margin-top:600px;
    background-color:#0C995A;

}
.c2 p{
	background-color:#AEB8BE;
	margin-left: 620px;
   	margin-top: 600px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}
.c3 img{
	margin-left: -170px;
	margin-top: 700px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:680px;
}
.c3 button{
	position:absolute;
	margin-left:130px;
	margin-top:1080px;
    background-color:#0C995A;

}
.c3 p{
	background-color:#AEB8BE;
	margin-left: -20px;
   	margin-top: 1080px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;
}
.c4 img{
	margin-left: 460px;
	margin-top: 100px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:680px;
}
.c4 button{
	position:absolute;
	margin-left:770px;
	margin-top:1075px;
    background-color:#0C995A;

}
.c4 p{
	background-color:#AEB8BE;
	margin-left: 620px;
   	margin-top: 1075px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}
.c5 img{
	margin-left: -170px;
	margin-top: 700px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:1170px;
}
.c5 button{
	position:absolute;
	margin-left:130px;
	margin-top:1565px;
    background-color:#0C995A;

}
.c5 p{
	background-color:#AEB8BE;
	margin-left: -20px;
   	margin-top: 1565px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;
}
.c6 img{
	margin-left: 460px;
	margin-top: 200px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:1170px;
}
.c6 button{
	position:absolute;
	margin-left:770px;
	margin-top:1565px;
    background-color:##0C995A;

}
.c6 p{
	background-color:#AEB8BE;
	margin-left: 620px;
   	margin-top: 1565px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}
.c7 img{
	margin-left: -170px;
	margin-top: 700px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:1650px;
}
.c7 button{
	position:absolute;
	margin-left:130px;
	margin-top:2045px;
    background-color:#0C995A;

}
.c7 p{
	background-color:#AEB8BE;
	margin-left: -20px;
   	margin-top: 2045px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;
}
.c8 img{
	margin-left: 460px;
	margin-top: 200px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:1650px;
}
.c8 button{
	position:absolute;
	margin-left:770px;
	margin-top:2045px;
    background-color:#0C995A;

}
.c8 p{
	background-color:#AEB8BE;
	margin-left: 620px;
   	margin-top: 2045px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}
.c9 img{
	margin-left: -170px;
	margin-top: 700px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:2130px;
}
.c9 button{
	position:absolute;
	margin-left:130px;
	margin-top:2520px;
    background-color:#0C995A;

}
.c9 p{
	background-color:#AEB8BE;
	margin-left: -20px;
   	margin-top: 2520px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;
}
.c10 img{
	margin-left: 460px;
	margin-top: 200px;
	position:absolute;
	width:600px;
	height:370px;	
	margin-top:2130px;
}
.c10 button{
	position:absolute;
	margin-left:770px;
	margin-top:2520px;
    background-color:#0C995A;

}
.c10 p{
	background-color:#AEB8BE;
	margin-left: 620px;
   	margin-top: 2520px;
	border-radius: 0px;
	padding: 0px;
	font-size: 120%;
	position:absolute;
	width:110px;
	height:20px;
	text-align: center;
	font-family: georgia;

}




