.gr img{
  position:absolute;
  background-repeat:no-repeat;
  width:1345px;
  height: 1500px;
  left:0px;
  }
.k1 img{
  margin-left: -150px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:200px;
}
.k1 button{
  position:absolute;
  margin-left:40px;
  margin-top:530px;
  background-color:#0C995A;

}
.k1 p{
  background-color:#AEB8BE;
  margin-left: -100px;
    margin-top: 530px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k2 img{
  margin-left: 275px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:200px;
}
.k2 button{
  position:absolute;
  margin-left:460px;
  margin-top:530px;
  background-color:#0C995A;

}
.k2 p{
  background-color:#AEB8BE;
  margin-left: 320px;
    margin-top: 530px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k3 img{
  margin-left: 700px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:200px;
}
.k3 button{
  position:absolute;
  margin-left:890px;
  margin-top:530px;
  background-color:#0C995A;

}
.k3 p{
  background-color:#AEB8BE;
  margin-left: 750px;
    margin-top: 530px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k4 img{
  margin-left: -150px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:650px;
}
.k4 button{
  position:absolute;
  margin-left:40px;
  margin-top:980px;
  background-color:#0C995A;

}
.k4 p{
  background-color:#AEB8BE;
  margin-left: -100px;
    margin-top: 980px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k5 img{
  margin-left: 275px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:650px;
}
.k5 button{
  position:absolute;
  margin-left:460px;
  margin-top:980px;
  background-color:#0C995A;

}
.k5 p{
  background-color:#AEB8BE;
  margin-left: 320px;
    margin-top: 980px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k6 img{
  margin-left: 700px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:650px;
}
.k6 button{
  position:absolute;
  margin-left:890px;
  margin-top:980px;
  background-color:#0C995A;

}
.k6 p{
  background-color:#AEB8BE;
  margin-left: 750px;
    margin-top: 980px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k7 img{
  margin-left: -150px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:1100px;
}
.k7 button{
  position:absolute;
  margin-left:40px;
  margin-top:1430px;
  background-color:#0C995A;

}
.k7 p{
  background-color:#AEB8BE;
  margin-left: -100px;
    margin-top: 1430px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k8 img{
  margin-left: 275px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:1100px;
}
.k8 button{
  position:absolute;
  margin-left:460px;
  margin-top:1430px;
  background-color:#0C995A;

}
.k8 p{
  background-color:#AEB8BE;
  margin-left: 320px;
    margin-top: 1430px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}
.k9 img{
  margin-left: 700px;
  margin-top: 100px;
  position:absolute;
  width:350px;
  height:300px; 
  margin-top:1100px;
}
.k9 button{
  position:absolute;
  margin-left:890px;
  margin-top:1430px;
  background-color:#0C995A;

}
.k9 p{
  background-color:#AEB8BE;
  margin-left: 750px;
    margin-top: 1430px;
  border-radius: 0px;
  padding: 0px;
  font-size: 120%;
  position:absolute;
  width:110px;
  height:20px;
  text-align: center;
  font-family: georgia;

}






