.container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px;
	background:rgba(0,0,0,0.30);
}
.navi{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
    height: 110px;
    background-color: #CCCCCC;
    background: solid;
}
.navi img{
	position:fixed;
    height: 130px;
    width:1350px;
}

.header h1{
	position: fixed;
	left: 550px;
	font-family: Algerian;
	line-height: 30px;
	color: black;
	align:center;
	font-size: 80px;
	margin-top:25px;
}
.line hr{
    position: fixed;
	width: 520px;
	top: 40px;
	left: 450px;
	border-color: black;
	margin-top:40px;
}
.navibutton a{
	text-decoration: none;
	color: #C6C8C7;
	margin-top:40px;
	font-size: 20px;


}
.navibutton{
	position: fixed;
	top: 55px;
	left: 470px;
	margin-top:40px;
}
.gr img{
	position:absolute;
	background-repeat:no-repeat;
	width:1345px;
	height: 950px;
	left:0px;
	

}
.logo img{
	margin-left: -170px;
	margin-top: 100px;
	position:absolute;
	width:600px;
	height:400px;	
	margin-top:200px;
	border-radius:30px;
}
.f img{
	margin-left: -200px;
	margin-top: 100px;
	position:absolute;
	width:420px;
	height:250px;	
	margin-top:660px;
}
.a img{
	margin-left: 240px;
	margin-top: 100px;
	position:absolute;
	width:420px;
	height:250px;	
	margin-top:660px;
}
.b img{
	margin-left: 680px;
	margin-top: 100px;
	position:absolute;
	width:420px;
	height:250px;	
	margin-top:660px;
}
.min{

	background-color:#F8F8FF;
	margin-left: 470px;
   	margin-top: 200px;
   	margin-right: 200px;
   	margin-bottom: 10px;
	border-radius: 30px;
	padding: 20px;
	font-size: 230%;
	position:absolute;
	width:540px;
	height:360px;
	text-align: center;
	font-family: georgia;

}




