<!DOCTYPE html>
<html ng-app="GuessTheNumber">
<head>
	<title>Guessing Game</title> <!-- save me as index.html wala akong theme ng css-->
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<br><br><br>
	<div id="main">
	<div class="container" ng-controller="GuessTheNumberCtrl">
		<h3>Guess the Number!</h3>
         <br>

		<p class = "well lead"> Guess the computer generated random number between 1 and 1000.</p>
         <br>
    <div class="cntr">
		<h4><label>Your guess: </label></h4>
		<input type="number" ng-model="guess">

	<div class="content">
		<button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
		<button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>
			</div>
		<p>
			<p ng-show="deviation<0" class="alert alert-warning">Too High . Lower it bes.</p>
			<p ng-show="deviation>0" class="alert alert-warning">Make it high dude.</p>
			<p ng-show="deviation===0" class="alert alert-success">Gotcha bruhhh ! </p>
		</p>
	
		<p class="text-info">No.of attempt: <span class="badge">{{noOfTries}}</span></p>
			</div>
	</div>
	</div>
<script src="angular.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="app.js"></script>
  </body>
</html>