body {
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f8ff;
}

.container h3 {
	color: #5f9ea0;
	font-family:Lucida Console;
	float:center;
	text-indent: 400px;
	text-shadow: 20px;

}
.cntr {
	position: absolute;
	left: 500px;
	text-indent: 20px;
}
.content {
	font-size: 50px;
}