body{
	font-family: 	calibri;
}
#calculator{
	width: 400px;
	height: 390px;
	border: 5px solid black;
	padding: 5px 5px 5px 5px;
	margin: 10px auto;
	background-color: gray;
	border-style: ridge;
	border-radius: 15px;
}
.result{
	position: absolute;
	width:317px;
	height: 50px;
	background-color: white;
	margin-left: 3px;
	margin-top: 25px;
	border-radius: 5px;
	color: black;
	text-align: 	right;
}
.clear{
	color: 	white;
	background:  red;
	float: 	left;		
	overflow: 	left;
	padding: 15.5px 32px 15.5px 32px;
	margin: 24.5px 2px 2px 324px;
	border-radius: 	5px;
	text-align: 	center;	
}
.clear:hover{
	background: orange;
	color: black;
}

p{
	margin-top: 8px;
	font-size: 40px;
}

.button{
	color: 	white;
	background: 	black;
	float: 	left;		
	overflow: 	left;
	padding: 27px 34.2px 27px 34.2px;
	margin: 2px 2px 2px 2px;
	border-radius: 	5px;
	text-align: 	center;	
}
.button1{
	color: 	white;
	background: 	black;
	padding: 27px 54px 27px 54px;
	margin: 2px 2px 2px 2px;
	border-radius: 	5px;
	text-align: 	center;	
	float: 	left;
}

.button2{
	color: 	white;
	background: 	black;
	padding: 33px 59.5px 33px 59.5px;
	margin: 2px 2px 2px 2px;
	border-radius: 	5px;
	text-align: 	center;	
	float: 	left;
	font-size: 	70px;
}
.button:hover{
	background: #dbdbdb;
	color: 	black;
}
.button1:hover{
	background: #dbdbdb;
	color: 	black;
}
.button2:hover{
	background: #dbdbdb;
	color: 	black;
}
#plus{
	background: lightblue;
	color: black;
}

#minus{
	background: lightblue;
	color: black;

}
#times{
	background: lightblue;
	color: black;

}
#divide{
	background: lightblue;
	color: black;
}

#plus:hover{
	background: black;
	color: lightblue;
}

#minus:hover{
	background: black;
	color: lightblue;

}
#times:hover{
	background: black;
	color: lightblue;

}
#divide:hover{
	background: black;
	color: lightblue;
}

.group3{	
	position: 	fixed;	
	margin-top: 	174.5px;
}
.group2{	
	margin-top: 	78.5px;
}
#dot{
	padding-left: 56.8px 	;
	padding-right: 56.8px 	;
}