<!DOCTYPE html>
<html ng-app="GuessTheNumber">
<head>
	<title>guess the game</title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap-theme.css">
	<script src="angular.min.js"></script>
	<script src="app.js"></script>


</head>
<body>
	<div class="container" ng-controller="GuessTheNumberCtrl">
		<h2>GUESS THE NUMBER</h2>
		<p class="well lead">hulaan mo nalang</p>
		<input type="number" ng-model="guess"/>
		<button ng-click="verifyGuess()" class="btn btn-primary btn-md">verify</button>
		<button ng-click="initializeGame()" class="btn btn-danger btn-md">retry</button>

		<p>
			<p ng-show="deviation<0" class="alert alert-warning">your guess is higher</p>
			<p ng-show="deviation>0" class="alert alert-warning">your gues is lower</p>
			<p ng-show="deviation===0" class="alert alert-success">yes! your correct!!</p>
		</p>

		<p class="text-info">no of guess: <span class="badge">{{noOfTries}}</span> </p>
	</div>

</body>
</html>