body {
	margin: 0 auto;

}

header {
	margin: 0;
	background-color: #444444;
	text-align: center;
}

.header-photo {
	width: 200px;
	margin-top: 20px;
}

.header-photo:hover {
	opacity: 0.3;
}

h1 {
	letter-spacing: 2.5px;
	font-family: "Adobe Caslon Pro";
	color: #cccccc;
	margin-bottom: 0;
}

h3 {
	letter-spacing: 1.5px;
	font-family: calibri;
	font-size: 22px;
	color: #0099ff;
	margin-top: 5px;
	padding-bottom: 20px;
}

.container {
	margin: auto;
	margin-bottom: 20px;
	height: 300px;
	width: 70%;
}

.container section {
	margin: 0 32px;
	height: inherit;
	width: 250px;
	float: left;
	text-align: center;
}

.icon {
	padding: 40px;
	padding-bottom: 20px;
	width: 170px;
	border: 1px solid #000;
}

.icon:hover {
	background-color: #eeeeee;
}

.caption {
	padding: 20px 0 0 0;
	height: 40px;
	width: 250px;
	border: 1px solid #000;
	background-color: #eeeeee;
}

.caption span {
	font-family: calibri;
	color: #444444;
}

hr {
	width: 90%;
}

footer {
	margin: 0;
	background-color: #444444;
	text-align: right;
}

footer p {
	margin-right: 20px;
	margin-bottom: 0;
	padding: 5px;
	letter-spacing: 1px;
	font-family: BrowalliaUPC;
	font-size: 20px;
	color: #fff;
}