audio {margin-left: 100px;
		margin-top: 10px;
		padding: 5px;}

.Text{	font-size: 20px;
	  	padding:5px;
		font-family: built titling;
		text-align: left;
}

.shoot{ margin-left: 30px;
		margin-right: 30px;

}