body{
	margin-left: auto;
	margin-right: auto;
	
}


#calculator {
	width: 420px;
	height:450px;
	border-radius: 50px;
	position: absolute;
	left: 420px;
	top: 80px;
	background-color: #2f4f4f;
	padding: 12px 18px;
}

#screen {
	width: 300px;
	height: 110px;
	background-color: #e6e6fa;
	overflow: hidden;
	border-radius: 30px;
	margin: 10px 10px;
	color: #6495ed;
	font-size: 7em;
	font-family: Calibri;
	text-align: right;
	font-weight: 800;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.clear {
	height: 110px;
	width: 80px;
	border-radius: 30px;
	background-color: #ff6347;
	position: absolute;
	left: 350px;
	top: 45px;
}

.clear p {
	position: absolute;
	top: -70px;
	left: 10px;
	text-align: center;
	color: #eee5de;
	font-size: 5em;
	font-weight: 300;
}



.numbers {
	height: 60px;
	width: 80px;
	color:#b03060;
	font-size: 3em;
	text-align: center; 
	font-weight: 800;
	border-radius: 30px;
	background-color: #5f9ea0;
	display: inline-block;
	margin: 5px 10px;
}

.numbers:hover {
	background-color: #d8bfd8;
}

.operator {
	height: 60px;
	width: 80px;
	color: black;
	font-size: 3em;
	text-align: center; 
	font-weight: 800;
	border-radius: 30px;
	background-color: #e6e6fa;
	display: inline-block;
	margin: 1px 10px;
	
}
.operator:hover {
	background-color: #b03060;

}

.dot {
	height: 60px;
	width: 80px;
	color: black;
	font-size: 3em;
	text-align: center; 
	font-weight: 800;
	border-radius: 30px;
	background-color: #e6e6fa;
	display: inline-block;
	margin: 1px 10px;
}

.dot:hover {
	background-color: #b03060;
}
.answer {
	height: 60px;
	width: 80px;
	color: black;
	font-size: 3em; 
	font-family: KaiTi;
	font-weight: 300;
	text-align: center;
	border-radius: 30px;
	color: #eee5de;
	background-color: #ff6347;
	display: inline-block;
	margin: 1px 10px;

}
.answer:hover {
	background-color: #00ff7f;
}
