{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}
#calculator {    
  background-color: rgba(17, 17, 17, 0.93);
      height: 323px;
    width: 352px;
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;
    
    border: solid;
    padding: 10px;  
}
.result {
  width: 230px;
  height: 40px;
  border: 1px solid grey;
  float: left;
  
    border: solid;
    overflow: hidden;
    background-color: white;
border-radius: 10px;
color:red;
letter-spacing: 3px;
font-size: 20px;
    line-height: 0;
    font-family: fantasy;

}
.result > p {
  /* margin-left: 10px; */
}
.clear, span {
  height: 40px;
  border: 1px solid grey;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
background-color: white;
     border-radius: 10px;
color:red;
font-size: 20px;
    font-family: fantasy;


}
.clear {
  width: 65px;
  float: left;
  border: solid;
}
span {
  float: left;
  width: 65px;
  border: solid;

}
table, th, td {
    border: solid;
    border-radius: 20px;
    border-color: brown;
    border-width: thick;
    border-style: inset;
}
