body{  
	background: url(img1.jpg);
}
#calculator{
	border: 1px solid black;
	width: 850px;
	height: 420px;
	background: black;
	margin-top: 113px;
	margin-left: 246px;
}
#screens{
	width: 93%;
	height: 150px;
	background: #FF7F50;
}
.button{
	border: 1px;
	height: 53pt;
	width: 118.6pt;
	margin: -3pt;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 32pt;
	color: white;
	background: #696969;
	font-family: Arial;
	cursor: pointer;
}
.button:hover{
	background: red;
}
#screen{
	float: right;
	margin-top: 60px;
	padding-right: 1px;
	font-size: 34pt;
	font-family: Arial;
	color: white;
}
.button a {
	text-decoration: none;
	list-style: none;
	color: white;
}
#wie{
	float: right;
	color: white;
	font-size: 24pt;
	padding-top: 7px;
	padding-right: 10px;
}
.buttons{
	border: 1px;
	height: 53pt;
	width: 237.5pt;
	margin: -3pt;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 32pt;
	color: white;
	background: #FF8C00;
	font-family: Calibri;
	cursor: pointer;
}