#bodycalculator{
	width: 470px;
	height: 330px;
	margin:50px auto;
	background:#3b3535;
	border-radius: 5px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;

}
#result{
	width: 380px;
	height: 60px;
	background:#cc9900;
	margin: 10px auto;
	padding-top:10px; 
	position: relative;
	top: 20px;
	font-size: 50px;
	color: black;
	font-weight: bold;
	text-align: right;
	letter-spacing: 4px;
	border-radius: 5px;
	margin-bottom: 30px;
	border-top:5px solid black;
    border-left:5px solid black;
    border-right:5px solid black;
    border-bottom:5px solid black;

	 
}
.button{
	width: 70px;
	height: 40px;
	margin-top: 10px;
	border-radius: 5px;
	font-size: 20px;
}
.mrg-side{
	margin-left: 50px; 	
}
#cancel{
	width: 145px;
	height: 40px;
	border-radius: 5px;
	background-color: red;
	font-size: 20px;
}
#equals{
	width: 145px;
	height: 40px;
	border-radius: 5px;
	background-color: green;
	font-size: 20px;
}
#zero{
	width: 145px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
}
.operator{
	background-color: red;
}