* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: ;
}
html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

h1 {
	text-align: center;
}

#calculator {
	width: 450px;
	height: 270px;
	margin: 50px auto 0 auto;
	background-color: blue;
	padding: 10px 10px 260px 10px;
	border-radius: 5px;
	border-bottom: 5px solid;
}

.reult {
	
}